리스트, 튜플, 딕셔너리, set과 함께 사용하는 for  
리스트, 튜플, 딕셔너리, set의 0번째 인덱스 값을 변수에 저장하고 반복을 시작하고 마지막 값을 변수에  
저장하고 반복한 후 종료한다.
***
for 변수 in 리스트 or 튜플 or 딕셔너리 or set 이름: # 인덱싱과 슬라이싱도 가능하다.  
&nbsp;&nbsp;&nbsp;&nbsp;반복할 문장  
&nbsp;&nbsp;&nbsp;&nbsp;...

In [7]:
# 리스트와 함께 사용하는 for
a = ['Life', 'is', 'too', 'Good']
print(a)
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

for i in range(len(a)):
    print(a[i])
print('=' * 80)

for i in a[1:3]:
    print(i)

['Life', 'is', 'too', 'Good']
================================================================================
Life
is
too
Good
================================================================================
Life
is
too
Good
================================================================================
is
too

In [9]:
# 튜플과 함께 사용하는 for
a = 'Life', 'is', 'too', 'Good'
print(a)
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

for i in range(len(a)):
    print(a[i])
print('=' * 80)

for i in a[1:3]:
    print(i)

('Life', 'is', 'too', 'Good')
================================================================================
Life
is
too
Good
================================================================================
Life
is
too
Good
================================================================================
is
too

In [13]:
# set과 함께 사용하는 for
a = {'Life', 'is', 'too', 'Good'}
print(a)
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

'''
for i in range(len(a)):
    print(a[i]) # set은 인덱싱을 사용할 수 없으므로 에러가 발생된다.
print('=' * 80)

for i in a[1:3]: # set은 슬라이싱을 사용할 수 없으므로 에러가 발생된다.
    print(i)
'''
pass

{'is', 'Good', 'Life', 'too'}
================================================================================
is
Good
Life
too
================================================================================

In [15]:
# 딕셔너리와 함께 사용하는 for
a = {'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
dict_keys(['apple', 'banana', 'melon', 'mango'])
dict_values([1000, 3500, 10000, 5000])
dict_items([('apple', 1000), ('banana', 3500), ('melon', 10000), ('mango', 5000)])

In [19]:
for key in a: # 딕셔너리 이름만 쓰면 딕셔너리이름.keys()와 같은 의미로 사용된다.
    print(key)
print('=' * 80)

for key in a.keys():
    print(key)
print('=' * 80)

# 딕셔너리의 key 값을 이용해 value 얻어오기
for key in a.keys():
    print(a.get(key))
print('=' * 80)

for key in a.keys():
    print(a[key])

apple
banana
melon
mango
================================================================================
apple
banana
melon
mango
================================================================================
1000
3500
10000
5000
================================================================================
1000
3500
10000
5000

In [20]:
for value in a.values():
    print(value)

1000
3500
10000
5000

In [25]:
for item in a.items():
    print(item)
print('=' * 80)

# appel은 1,000원 입니다.
for item in a.items():
    print('{}은(는) {:,}원 입니다.'.format(item[0], item[1]))
print('=' * 80)

for key, value in a.items():
    print('{}은(는) {:,}원 입니다.'.format(key, value))

('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)
================================================================================
apple은(는) 1,000원 입니다.
banana은(는) 3,500원 입니다.
melon은(는) 10,000원 입니다.
mango은(는) 5,000원 입니다.
================================================================================
apple은(는) 1,000원 입니다.
banana은(는) 3,500원 입니다.
melon은(는) 10,000원 입니다.
mango은(는) 5,000원 입니다.